@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --transition-speed: 0.3s;
}

body {
  transition: background-color var(--transition-speed), color var(--transition-speed);
}

@layer base {
  *:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }
}

* {
  font-family: "Outfit", sans-serif;
  transition: background-color var(--transition-speed), border-color var(--transition-speed), color var(--transition-speed);
}

@theme {
  --color-primary: #E6CCFF;
}

::-webkit-scrollbar {
  display: none;
}

.reset-tw :not(pre):not(code) {
  all: revert;
}

.loader div:nth-child(2) {
  animation-delay: 0.2s;
}

.loader div:nth-child(3) {
  animation-delay: 0.4s;
}